modules = ["web", "bash", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "file", "freetype", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "rustc", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Talento Web App"

[[workflows.workflow]]
name = "Talento Web App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "SECRET_KEY=69e362e1410dc7a73264b72c3fae499fc708aeafe216cc5821f6f5217376c049 ENCRYPTION_KEY=FRsTD3DRzkr8nq9kH80ll374Rgw8G-CZ3Rp1f7wikZI= SKIP_AUTO_MIGRATION=1 PORT=5000 python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39581
externalPort = 6800

[[ports]]
localPort = 40091
externalPort = 5173

[[ports]]
localPort = 40847
externalPort = 8080

[[ports]]
localPort = 42293
externalPort = 3002

[[ports]]
localPort = 42337
externalPort = 9000

[[ports]]
localPort = 42559
externalPort = 6000

[[ports]]
localPort = 42949
externalPort = 3001

[[ports]]
localPort = 43377
externalPort = 5000

[[ports]]
localPort = 43563
externalPort = 8081

[[ports]]
localPort = 45191
externalPort = 8000

[[ports]]
localPort = 45275
externalPort = 8008

[[ports]]
localPort = 45603
externalPort = 3000

[[ports]]
localPort = 46085
externalPort = 8099

[[ports]]
localPort = 46639
externalPort = 3003

[[ports]]
localPort = 46677
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "--workers=2", "app:app"]
